# 依赖
node_modules/
.pnp
.pnp.js

# 编译产物
mini-services/k8s-service/k8s-service
mini-services/k8s-service/kubectl
kubectl

# 下载文件
download/
*.tar.gz

# 日志
*.log

# 环境变量
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# Next.js
.next/
out/

# 测试
coverage/

# Prisma
db/*.db
kind
